<div class="flex items-center justify-center md:mb-4 gap-0 sm:gap-0">
  <button
    (click)="decreaseBet()"
    class="bg-gray-600 px-3 py-2 sm:px-3 sm:py-1 md:px-4 md:py-2 rounded-l-full text-white"
  >
    -
  </button>
  <button (click)="openBetModal()" class="bg-gray-600 border-x-[1px] px-3 py-2 sm:text-base sm:px-2 sm:py-1 md:px-4 md:py-2 text-white">
    Bet {{ currentBet | currency }}
  </button>
  <button
    (click)="increaseBet()"
    class="bg-gray-600 px-3 py-2 sm:px-3 sm:py-1 md:px-4 md:py-2 rounded-r-full text-white"
  >
    +
  </button>
  <button
    (click)="openAutoPlayModal()"
    class="bg-gray-600 sm:ml-4 ml-2 px-3 py-2 sm:text-base sm:px-3 sm:py-1 md:px-4 md:py-2 rounded-full text-white"
  >
    Auto
  </button>
</div>
