<div class="fixed inset-0 flex items-center justify-end z-50">
    <div class="w-80 h-full bg-black text-gray-300 shadow-lg overflow-y-auto">
      <div class="flex justify-between items-center p-4 border-b">
        <h4 class="text-lg font-semibold">Menu</h4>
        <button type="button" class="text-white" (click)="closeDialog()">
          ✖
        </button>
      </div>
      <div class="p-4">
        <div class="grid grid-cols-1 gap-4">
          <div class="bg-gray-800 p-4 rounded-lg shadow-md text-center cursor-pointer">
            <div class="text-2xl text-white mb-2">🔄</div>
            <div class="text-lg font-semibold">Regular Spins</div>
          </div>
          <div class="bg-gray-800 p-4 rounded-lg shadow-md text-center cursor-pointer">
            <div class="text-2xl text-white mb-2">📜</div>
            <div class="text-lg font-semibold">History</div>
          </div>
          <div class="bg-gray-800 p-4 rounded-lg shadow-md text-center cursor-pointer">
            <div class="text-2xl text-white mb-2">❓</div>
            <div class="text-lg font-semibold">How to Play</div>
          </div>
          <div class="bg-gray-800 p-4 rounded-lg shadow-md text-center cursor-pointer">
            <div class="text-2xl text-white mb-2">💲</div>
            <div class="text-lg font-semibold">Payment Info</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  